WebServiceClient/src/main/resources/SimpleService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://www.example.org/SimpleService/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SimpleService"
	targetNamespace="http://www.example.org/SimpleService/">
	<wsdl:types>
		<xsd:schema targetNamespace="http://www.example.org/SimpleService/">
			<xsd:element name="isimGetirRequest">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="ad" type="xsd:string" />
						<xsd:element name="soyad" type="xsd:string"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="isimGetirResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="out" type="xsd:string" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:complexType name="Siparis">
				<xsd:sequence>
					<xsd:element name="s1" type="xsd:string"></xsd:element>
					<xsd:element name="s2" type="xsd:string"></xsd:element>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:element name="siparisGetirRequest">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="siparis" type="tns:Siparis"></xsd:element>					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="siparisGetirResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="out" type="xsd:string"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="isimGetirResponse">
		<wsdl:part element="tns:isimGetirResponse" name="parameters" />
	</wsdl:message>
	<wsdl:message name="isimGetirRequest">
		<wsdl:part name="parameters" element="tns:isimGetirRequest"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="siparisGetirRequest">
		<wsdl:part name="parameters" element="tns:siparisGetirRequest"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="siparisGetirResponse">
		<wsdl:part name="parameters" element="tns:siparisGetirResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:portType name="SimpleService">
		<wsdl:operation name="isimGetir">
			<wsdl:input message="tns:isimGetirRequest"></wsdl:input>
			<wsdl:output message="tns:isimGetirResponse" />
		</wsdl:operation>
		<wsdl:operation name="siparisGetir">
			<wsdl:input message="tns:siparisGetirRequest"></wsdl:input>
			<wsdl:output message="tns:siparisGetirResponse"></wsdl:output>
		</wsdl:operation>
  </wsdl:portType>
	<wsdl:binding name="SimpleServiceSOAP" type="tns:SimpleService">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="isimGetir">
			<soap:operation soapAction="http://www.example.org/SimpleService/isimGetir" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="siparisGetir">
			<soap:operation soapAction="http://www.example.org/SimpleService/siparisGetir" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="SimpleService">
		<wsdl:port binding="tns:SimpleServiceSOAP" name="p1">
			<soap:address location="http://localhost:8080/ss/p1" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
